.gamecell {
  width: 200px;
  height: 200px;
  display: inline-block;
}

td {
  border: 5px solid black;
}

.X {
  color: red;
  font-size: 200px;
  display: inline-block;
  margin: auto;
}

.O {
  color: blue;
  font-size: 200px;
  display: inline-block;
  margin: auto;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.gamecellClicked {
  width: 200px;
  height: 200px;
  display: inline-block;
}

#xwin_message {
  color: red;
}

#owin_message {
  color: blue;
}
